h1
{
    color: blue; /*test*/

}

.github
{
    color: orange;
    text-align: right;
}

p
{
    font-size: 1.2em;
    font-family: Calibri, sans-serif;
    text-align: justify;
}

.image
{
    box-shadow: 2px, 2px, 3px, black;
}