h1
{
    color: blue; /*test*/
    text-align: center;

}

.github
{
    color: orange;
    text-align: right;
}

p
{
    font-size: 1.1em;
    font-family: Calibri, sans-serif;
    text-align: justify;
}

.image
{
    border: 0px;
    box-shadow: 5px, 5px, 3px, black;
}