*
{
    font-family: Arial, sans-serif;
}

h1
{
    color: blue; /*test*/
    text-align: center;

}

p
{
    font-size: 1em;
    text-align: justify;
}

.github
{
    color: orange;
    text-align: right;
}

.home
{
    color: white;
    font-size: 2.5em;
    background-color: blue;
}

.summary
{
    text-align: left;
    border: 1em ;
}