body {
    margin: 0;
    background-color: #403D39;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    background-color: #222422af;
    color: #208AAE89;
}

.navbar a {
    display: block;
    color: #208AAE89;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: #C1292E77;
    transition: 500ms;
}

.navbar-item-text {}

.navbar-item-sub {
    display: none;
}

.navbar-item:hover .navbar-item-sub {
    background-color: #F1A2085e;
    display: block;
    position: fixed;
}

.navbar-item-sub-item {}

.navbar-item-sub-item-text {}