.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    background-color: #00205da1;
    color: #e6e6e689;
}

.navbar a {
    display: block;
    color: #e6e6e689;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item {}

.navbar-item-text {}

.navbar-item-sub {}

.navbar-item-sub-item {}

.navbar-item-sub-item-text {}