body {
    margin: 0;
    background-color: #403D39;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    background-color: #222422af;
    color: #208AAE89;
}

.navbar a {
    display: block;
    color: #208aae;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: #18414e57;
    transition: 500ms;
}

.navbar-item-text {}

.navbar-item-sub {
    display: none;
}

.navbar-item:hover .navbar-item-sub {
    background-color: #2A2B285e;
    display: block;
    position: fixed;
}

.navbar-item-sub-item:hover {
    background-color: #21363bb0;
    transition: 500ms;
}

.navbar-item-sub-item-text {}